<div class="row">
  	<div class="col-md-6 col-sm-6 col-xs-6">
	  	<h1>Displays</h1>
  	</div>
  	<div class="col-md-6 col-sm-6 col-xs-6">
	  	<button ng-click="addDisplay()" class="btn btn-lg btn-primary pull-right addButton"> 
			Add Display <i class="glyphicon glyphicon-plus"></i> 
		</button>
	</div>
</div>
<div ng-repeat="display in displays" id="display-{{display.id}}">						
	<div class="row">
		<div class="well span9">
			<h4 class="well-title">{{display.id}}</h4>
			<h6 style="margin-top:-10px;">{{display.companyName}}</h6>
			<span>Name: {{display.name}}</span>
			<br/>
			<span>Address: {{display.address}}</span><br/>
			
			<p></p>
		</div>
	</div>
</div>